#Q1 For a given list that contains numbers from 1 to 20.
#Using a for loop, create a new list that contains the square of each element from the given list.

In [3]:
list1 = []
for i in range (1,21):
    list1.append(i)
    
sqlist =[]
#for i in range(1,21):
#    sqlist.append(i*i)
    
for i in list1:
    sqlist.append(i*i)

print(sqlist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

#Q2 For a given dictionary that contains numbers from 1-10 as keys,
# and their square as values, display each key-value pair using a for loop.

In [8]:
dictionary1 = {}
for i in range(1,11):
    dictionary1[i]=i*i
#dictionary1

for x,y in dictionary1.items():
        print(x,y)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

#Q A tuple contains even numbers from 1-20. Display all the items in a tuple using a for loop.

In [12]:
list2 = []
for i in range(2,21,2):
    list2.append(i)

tup1 = tuple(list2)
for i in tup1:
    print(i)

2
4
6
8
10
12
14
16
18
20

# A set contains odd numbers from 1-20. Display the items in a set using a for loop.

In [14]:
set1 = set()
for i in range(1,21,2):
    set1.add(i)
    
for i in set1:
    print(i)

1
3
5
7
9
11
13
15
17
19

#For a given sequence of nested lists, display the elements using a for loop.
#a = [[1,2],[3,4],[5,6],[7,8]]
# 1 2
# 3 4
# 5 6
# 7 8

In [16]:
a = [[1,2],[3,4],[5,6],[7,8]]
for i in a:
    print(i[0],i[1])

1 2
3 4
5 6
7 8

# For a given list of natural numbers from 1-100,
# using the while loop, print only the numbers that are divisible by 2.

In [18]:
list4 = []
for i in range(1,101):
    list4.append(i)
    
#initialization
j = 0
#condition
while j<100:
    if (list4[j]%2==0):
        print(list4[j])
        
    #updation
    j+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

#Print the first 5 multiples of 3 using a while loop.

In [20]:
i = 1
while i<=5:
    print(3*i)
    i+=1

3
6
9
12
15

# For a given dictionary that contains the first 10 natural numbers as keys,
# and their cubes as values, display the key value pairs using a while loop.

In [23]:
dictionary2 ={}
for i in range(1,11):
    dictionary2[i]= i*i*i
    
key = list(dictionary2.keys())

i = 0
while i<len(key):
    print(key[i]," ",dictionary2[key[i]])
    i+=1

1   1
2   8
3   27
4   64
5   125
6   216
7   343
8   512
9   729
10   1000

Create a nested for loop to print a half and full pyramid pattern program in python

In [15]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [16]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *