# Case Study 1

1. Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).

In [1]:
range(5)

range(0, 5)

## syntax of range
#range(start,end+1)

In [2]:
range(5,10)

range(5, 10)

In [3]:
for x in range(1,11):
    print(x*x)

1
4
9
16
25
36
49
64
81
100

syntax of list comprehension
[task loop/condition]

In [4]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2. Write a Function to check if year number is a leap year.

#1 year divided 4 if we get the reminder 0 and year is not divided by 100 --->leap year
#2 year divided by 400 and also divided by 100 if we get the reminder 0---->leap year
#both 1 and 2 are not satisfied then it is --->not a leap year

In [5]:
year=int(input("enter the number:"))
def leap_year(year):    #creating the function-->def function_name(parameter):
    if (year%4==0) and (year%100 != 0):
        print("it is a leap year")
    elif (year%400==0) and (year % 100==0):
        print("it is a leap year")
    else:
        print("not a leap year")
leap_year(year)    #calling the function-->function_name(parameter)

enter the number:2000
it is a leap year

3. Write a Function to take an array and return another array that contains the members of first
array that are even.

In [6]:
def geteven_no(a):
    b=[]
    for i in a:
        if i%2==0:
            b.append(i)
    return b

In [7]:
a=[1,2,3,4,5,6,7,8]
geteven_no(a)

[2, 4, 6, 8]

4. Write a Function that takes 2 arrays and prints the members of first array that are present of
second array. (HINT: use Membership Comprehension)

In [8]:
x=[2,5,4,7,9]
y=[4,9,0,1,3]

In [9]:
def arr(x,y):
    for i in x:
        if i in y:
            print(i)

In [10]:
arr(x,y)

4
9

In [11]:
def arr(x,y):
    common_values=[i for i in x if i in y]
    print(common_values)

In [12]:
arr(x,y)

[4, 9]

In [13]:
x=[1,2,3,4,5]
y=[4,5,6,7,8]

In [14]:
def arr(x,y):
    for i in x:
        if i in y:
            print(i)
arr(x,y)

4
5

# Casestudy2

1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”

In [15]:
t1=(10,20,30)
t2=(40,50,60)

In [16]:
t_combine=t1+t2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [17]:
t_combine*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [18]:
t_combine[2]

30

In [19]:
t_combine[:3]

(10, 20, 30)

In [20]:
t_combine[-3:]

(40, 50, 60)

2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False

In [21]:
my_list=[(1,2,3),("a","b","c"),(True,False)]

In [22]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [23]:
type(my_list)

list

3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list

In [24]:
tup1=(1,"a",True)

In [25]:
tup1

(1, 'a', True)

In [26]:
type(tup1)

tuple

In [27]:
my_list.append(tup1)

In [28]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [29]:
l1=['sparta',123]

In [30]:
my_list.append(l1)

In [31]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’

In [32]:
fruit.keys()
fruit.values()

NameError: name 'fruit' is not defined

5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [ ]:
True-1
False-0