# Python Basics

## Introduction

-> Introduced by Guido Van Russom in 1991

-> Python is general purpose high level programming language which supports both OOPs and POPs

-> OOPs -> Object oriented programming-> based on classes and objects

-> POPs -> Procedural oriented programming-> based on functions, structured oriented

-> Syntax: is grammar for any programming language or it is a format that has to be followed while writing a code

-> Keywords -> are certain words which have a predefined meaning in Python
 
 Eg: def, import, True, False, if, class, for , while
 
-> Inbuilt functions -> the block of code which has a predefined task to perform

 Eg: print(), len(), type(), range()
 
-> Case sensitivity -> uppercase letters and lowercase letters are treated as two different entities

In [16]:
a=10
print(a)

10

In [51]:
Print(a)

NameError: name 'Print' is not defined

## Variables

-> a storage container which holds some data

-> a memory location which will be assigned with some value or information

-> = -> assignment operator, to assign values to the variables

-> Literal:the value or information that will be assigned to the variable

In [52]:
# Syntax: 
# variablename=value or information

In [53]:
b=100
# b->variable  
# =-> assignment operator
# 100-> literal

In [54]:
b=150

In [55]:
# print()-> inbuilt function which is used to display the value or output

In [56]:
print(b)

150

In [57]:
print(a)

20

In [58]:
c='shreya'
print(c)

shreya

In [59]:
d="Samuel"
print(d)

Samuel

In [60]:
e='123'
print(e)

123

In [61]:
#type()-> determine the type of value stored inside a variable

In [62]:
type(b)

int

In [63]:
type(c)

str

In [64]:
type(e)

str

In [65]:
# Rules to be followed while naming a variable
# 1. Keywords and inbuilt function names cannot be used as variable names
# 2. Variable name can start with a letter or underscore(_) but never with a number
# 3. No special symbols or characters except underscore will be allowed in variable names

In [66]:
def=123

SyntaxError: invalid syntax (<ipython-input-66-0e78859b7116>, line 1)

In [67]:
type=234
print(type)

234

In [68]:
type(b)

TypeError: 'int' object is not callable

In [69]:
var=435

In [70]:
_var=324676

In [71]:
2var=3768

SyntaxError: invalid syntax (<ipython-input-71-94ed079f8b30>, line 1)

In [72]:
var1='Akash'

In [73]:
var_2='Amit'

In [74]:
var$1='adv'

SyntaxError: invalid syntax (<ipython-input-74-1d9e22521d80>, line 1)

In [75]:
var!=5468

True

In [76]:
# Assigning values to the variables
# Static way-> information or value is assigned manually while typing the program
# Dynamic way(user-defined)-> information or value will be assigned during the run time of program
# input()-> an inbuilt function that fetches input from the user
# Syntax: varname=input()

In [77]:
v1=input('Enter a number')

Enter a number18

In [78]:
v1

'18'

In [86]:
v1='18'
type(v1)

TypeError: 'int' object is not callable

In [87]:
v1='sudip'

In [88]:
v1

'sudip'

In [89]:
#Type Casting-> the process of changing one data type to another
# str->int 
#  Syntax: varname=int(input())
# str->float
#  Syntax: varname=float(input())

In [92]:
v2=int(input('Enter a number'))

Enter a number76

In [93]:
v2

76

In [94]:
type(v2)

TypeError: 'int' object is not callable

In [95]:
v3=float(input('ENter a number'))

ENter a number1.6

In [96]:
v3

1.6

In [99]:
v4=bool(input('enter a value'))

enter a value0

In [100]:
v4

True

## Operators

-> tools or symbols that are used to perform a specific operation

Arithmetic operators-> +,-,*,/,%,**

Assignment operator-> =,+=,-=,*=,/=

Comparision operators->==,>,<,!=,>=,<=

Logical operators-> and, or , not

Bitwise operators-> &,|,^,~,<<,>>

Identity operators-> is, is not

Membership opeartors-> in ,not in

In [101]:
# Arithmetic operators-> +,-, *,/, %, **

In [102]:
x=100
y=200
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y) # returns the remainder of division operation
print(x**2) # returns the first raised  to the power of second

300
-100
20000
0.5
0
100
10000

In [103]:
# Assignment operator-> =, +=,-=, *=, /=
a=20
b=45
c=a+b
c

65

In [104]:
a=20
b=45
a+=b # a=a+b
a

65

In [105]:
a=20
b=45
a-=b
a

-25

In [106]:
a=20
b=45
a*=b
a

900

In [107]:
a=20
b=45
a/=b
a

0.4444444444444444

In [108]:
# Comparision operators -> ==, >,<,!=,>=,<=
# Equality-> ==
# Greater-> >
# Lesser-> <
# Not equal -> !=
# Greater equal-> >=
# Lesser equal -> <=
a=20
b=45
print(a==b) # 20==45
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

False
False
True
True
False
True

In [109]:
# Identity operators -> used to check if two values are on the same part of the memory
# is -> True if the operators are identical
# is not -> True if the operators are not identical

i='shreya'
k='shreya'

In [110]:
i is k

True

In [111]:
i==k

True

In [112]:
id(i)

2562858454960

In [113]:
id(k)

2562858454960

In [114]:
k='sudip'

In [115]:
id(k)

2562858295408

In [116]:
i is k

False

In [117]:
# Membership operators -> used to test whether a value or variable is in a sequence
# in-> True if the value if found in the sequence
# not in-> True if the value is not found in the sequence
x=[1,2,3,4,5,6,7]
m='adyansh'
print(m in x)
print(m not in x)

False
True

In [118]:
# Logical operators -> and, or , not
# and-> True if both the operands are true
# or-> True if either of the opearnds are true
# not-> True if the operand is False
s1= True
s2= False
print(s1 and s2)
print(s1 or s2)
print(not s1)

False
True
False

In [119]:
# Bitwise operators-> &,|,^,~,<<,>>
# &-> bitwise and
# |-> or
# ^ -> exor
# ~ -> negation
# <<-> left shift
# >> -> right shift

In [120]:
n1=10 # 1010
n2=4  # 0100
print(n1&n2)
print(n1|n2)
print(n1^n2)
print(~n1)
print(n1>>2)
print(n1<<2)

0
14
14
-11
2
40

##  Datatypes

-> type of data the variable has been assigned with 

-> Two different data types

-> Basic/Universal datatypes-> int, float, char/str, bool

-> Collective datatypes-> strings, tuples, lists, dictionary, set

In [121]:
a1=200
b1=234.5
d1='samir'
e1=True   # 1
e2=False  # 0
print(e1+e2) # 1+0=1

1

In [1]:
c1='s'
type(c1)

str

In [2]:
d1='samir'
type(d1)

str

Collective data types-> collection of values or information

Two types:

Mutable datatypes-> information or value in a collection can be altered or changed after declaration

Eg: List, Dictionary, Set

Immutable datatypes-> information or value in a collection cannot be altered or changed after declaration

Eg: Strings, Tuples

## Strings

In [3]:
# collection of characters
# Syntax: varname='value' or "value"

In [4]:
s1='hello'
s2="shreya"
print(s1,s2)

hello shreya

In [5]:
type(s1)

str

In [6]:
type(s2)

str

In [7]:
s='INTELLIPAAT'

In [8]:
# len()-> the number of elements present in a collective datatypes

In [9]:
len(s)

11

## Indexing and Slicing

In [10]:
# Index-> positional value of an element inside a collection
# Indexing-> the process of extracting or accessing an individual element from a collection
  # Syntax: varname[index_value]
  # Types->  Forward/Regular indexing-> starts with 0 (left to right)
  #          Reverse/Negative indexing-> starts with -1 (right to left) 
# Slicing-> the process of extracting  or accessing multiple elements in a sequence from a collection
  # SYntax: varname[start_index:end_index+1]

In [11]:
#  0   1   2   3   4   5   6   7   8   9   10 -> forward indexing
#  I   N   T   E   L   L   I   P   A   A   T
# -11 -10 -9  -8  -7  -6  -5  -4  -3  -2  -1 <- reverse indexing

In [12]:
s[3]

'E'

In [13]:
s[-8]

'E'

In [14]:
s[0:5]

'INTEL'

In [15]:
s[-11:-6]

'INTEL'

In [16]:
s[0:11]

'INTELLIPAAT'

In [17]:
s[:5]

'INTEL'

In [18]:
s[5:]

'LIPAAT'

In [19]:
s[3]='A'

TypeError: 'str' object does not support item assignment

In [20]:
str1='abdv123'

In [21]:
type(str1)

str

## Tuples

In [22]:
# set of heterogenous elements (different data types)
# Syntax: varname=(elements)

In [23]:
t1=(1,2,3,'python',23.4, True, False,'diversity',(22,33,44),[11,55,66])
#   0 1 2   3       4     5     6       7            8
t1

(1, 2, 3, 'python', 23.4, True, False, 'diversity', (22, 33, 44), [11, 55, 66])

In [24]:
type(t1)

tuple

In [25]:
len(t1)

10

In [26]:
t1[3]

'python'

In [27]:
t1[6]

False

In [28]:
t1[1:6]

(2, 3, 'python', 23.4, True)

In [29]:
t1[4:8]

(23.4, True, False, 'diversity')

In [30]:
t1[4:]

(23.4, True, False, 'diversity', (22, 33, 44), [11, 55, 66])

In [31]:
t1[3]='java'

TypeError: 'tuple' object does not support item assignment

In [32]:
t1[3]

'python'

In [33]:
# Nested Indexing-> extracting an idividual element which is inside another collective data type
t1[3][2]

't'

In [34]:
t1[8]

(22, 33, 44)

In [35]:
t1[8][2]

44

In [36]:
t1

(1, 2, 3, 'python', 23.4, True, False, 'diversity', (22, 33, 44), [11, 55, 66])

In [37]:
t1[9]

[11, 55, 66]

In [38]:
t1[9][1]

55

In [39]:
t1[9][1]=77

In [40]:
t1[9]=[23,24,25]

TypeError: 'tuple' object does not support item assignment

In [41]:
t1

(1, 2, 3, 'python', 23.4, True, False, 'diversity', (22, 33, 44), [11, 77, 66])

In [42]:
list(map(type,t1))

[int, int, int, str, float, bool, bool, str, tuple, list]

## Lists

In [43]:
# set of heterogenous elements
# SYntax: varname=[elements]

In [44]:
l1=[1,2,3,'python',23.4, True, False,'diversity',(22,33,44),[11,55,88]]
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', (22, 33, 44), [11, 55, 88]]

In [45]:
type(l1)

list

In [46]:
len(l1)

10

In [47]:
l1[5]

True

In [48]:
l1[3:8]

['python', 23.4, True, False, 'diversity']

In [49]:
l1[3]='java'

In [50]:
l1

[1, 2, 3, 'java', 23.4, True, False, 'diversity', (22, 33, 44), [11, 55, 88]]

In [51]:
l1[3]

'java'

In [52]:
l1[3][1]

'a'

In [53]:
l1[3][1]='e'

TypeError: 'str' object does not support item assignment

In [54]:
l1[5]='Shreya'

In [55]:
l1

[1,
 2,
 3,
 'java',
 23.4,
 'Shreya',
 False,
 'diversity',
 (22, 33, 44),
 [11, 55, 88]]

In [56]:
l1[9]

[11, 55, 88]

In [57]:
l1[9][1]

55

In [58]:
l1[9][1]=66

In [59]:
l1

[1,
 2,
 3,
 'java',
 23.4,
 'Shreya',
 False,
 'diversity',
 (22, 33, 44),
 [11, 66, 88]]

Note:

-> Tuple/String as a whole inside a list is mutable, but the elements inside a tuple/string remain immutable
even if its inside a list

-> List as a whole in tuple is immutable, but the elements inside a list remain mutable even if its inside a tuple

In [60]:
# To add elements into list
# append()-> listname.append(value) , adds element towards the end of the list
# insert()-> listname.insert(index,value)

In [61]:
l1=[1,2,3,'python',23.4, True, False,'diversity']
l1.append(100)
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', 100]

In [62]:
l1.append('shreya')

In [63]:
l1.append(100)

In [64]:
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', 100, 'shreya', 100]

In [65]:
l1[-1]=90

In [66]:
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', 100, 'shreya', 90]

In [67]:
l1.insert(3,'java')

In [68]:
l1

[1, 2, 3, 'java', 'python', 23.4, True, False, 'diversity', 100, 'shreya', 90]

In [69]:
# To remove elements from the list
# pop()-> listname.pop(index)
# remove()-> listname.remove(value)

In [70]:
l1.pop(3)

'java'

In [71]:
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', 100, 'shreya', 90]

In [72]:
l1.remove(100)

In [73]:
l1

[1, 2, 3, 'python', 23.4, True, False, 'diversity', 'shreya', 90]

## Dictionary

-> set of heterogenous elements , store the elements in a key:value pair

key-> user-defined index

value-> elements

Syntax: varname={key1:value1, key2:value2,........,key n :value n}

-> no order maintained or randomizes the elements

-> keys can't be collective datatypes except for string

In [74]:
d1={1:'Arjun','Shreya':'Intellipaat',13.5:2000,False:10}
d1

{1: 'Arjun', 'Shreya': 'Intellipaat', 13.5: 2000, False: 10}

In [75]:
type(d1)

dict

In [76]:
d1['Shreya']='Tech'

In [77]:
d1

{1: 'Arjun', 'Shreya': 'Tech', 13.5: 2000, False: 10}

In [78]:
d1[False]

10

In [79]:
d1.keys()

dict_keys([1, 'Shreya', 13.5, False])

In [80]:
d1.values()

dict_values(['Arjun', 'Tech', 2000, 10])

In [81]:
d2={"Names":['Adi',"Zayn",'Harry','Akash','Fahad'],
    'Post':['Intern','CEO','VP','Manager','Developer']}

In [82]:
d2['Designation']=d2['Post']

In [83]:
d2

{'Names': ['Adi', 'Zayn', 'Harry', 'Akash', 'Fahad'],
 'Post': ['Intern', 'CEO', 'VP', 'Manager', 'Developer'],
 'Designation': ['Intern', 'CEO', 'VP', 'Manager', 'Developer']}

In [84]:
d2

{'Names': ['Adi', 'Zayn', 'Harry', 'Akash', 'Fahad'],
 'Post': ['Intern', 'CEO', 'VP', 'Manager', 'Developer'],
 'Designation': ['Intern', 'CEO', 'VP', 'Manager', 'Developer']}

In [85]:
d2['Names']

['Adi', 'Zayn', 'Harry', 'Akash', 'Fahad']

In [86]:
d2['Post']

['Intern', 'CEO', 'VP', 'Manager', 'Developer']

In [87]:
len(d2)

3

In [88]:
d2['Names'][2]='Ahaan'

In [89]:
d2

{'Names': ['Adi', 'Zayn', 'Ahaan', 'Akash', 'Fahad'],
 'Post': ['Intern', 'CEO', 'VP', 'Manager', 'Developer'],
 'Designation': ['Intern', 'CEO', 'VP', 'Manager', 'Developer']}

In [90]:
d2['Post'][2]='AM'

In [91]:
del d2['Post']

In [92]:
# adding a new key:value pair into a dictionary
d2['Salary']=[25,200,75,100,150]

In [93]:
d2

{'Names': ['Adi', 'Zayn', 'Ahaan', 'Akash', 'Fahad'],
 'Designation': ['Intern', 'CEO', 'AM', 'Manager', 'Developer'],
 'Salary': [25, 200, 75, 100, 150]}

In [94]:
# remove a value from a dictionary

In [95]:
d2.pop('Salary')

[25, 200, 75, 100, 150]

In [96]:
d2

{'Names': ['Adi', 'Zayn', 'Ahaan', 'Akash', 'Fahad'],
 'Designation': ['Intern', 'CEO', 'AM', 'Manager', 'Developer']}

In [97]:
del d2['Names']

In [98]:
d2

{'Designation': ['Intern', 'CEO', 'AM', 'Manager', 'Developer']}

In [99]:
d3={'Names': ['Adi', 'Zayn', 'Ahaan', 'Akash', 'Fahad'],
 'Post': ['Intern', 'CEO', 'AM', 'Manager', 'Developer'],
 'Salary': [25, 200, 75, 100, 150]}

In [100]:
d4=d3.popitem()

In [101]:
# popitem()-> remove the recently added key-value pair from a dict and return the same as a tuple

In [102]:
d4

('Salary', [25, 200, 75, 100, 150])

In [103]:
type(d4)

tuple

In [104]:
d3

{'Names': ['Adi', 'Zayn', 'Ahaan', 'Akash', 'Fahad'],
 'Post': ['Intern', 'CEO', 'AM', 'Manager', 'Developer']}

In [105]:
d5=d3.popitem()

In [106]:
d5

('Post', ['Intern', 'CEO', 'AM', 'Manager', 'Developer'])

In [107]:
d3

{'Names': ['Adi', 'Zayn', 'Ahaan', 'Akash', 'Fahad']}

## Set

-> unordered, unindexed list of unique elements

-> Syntax: varname={elements}

In [108]:
s1={True,False,0,1,False,1,2.0,2,3,4,5,'python',657.8,99.8,'python',True,False,0,'diversity',False}

In [109]:
s1

{2.0, 3, 4, 5, 657.8, 99.8, False, True, 'diversity', 'python'}

In [110]:
s1.add('Aditya')

In [111]:
s1

{2.0, 3, 4, 5, 657.8, 99.8, 'Aditya', False, True, 'diversity', 'python'}

In [112]:
s1.remove('Aditya')

In [113]:
s1

{2.0, 3, 4, 5, 657.8, 99.8, False, True, 'diversity', 'python'}

## Conditional Statements

-> statements executed based on the condition evaluated

-> statements that are used to evaluate a condition to true or false

Types

-> simple if

-> if else

-> multiple ifs

-> if elif else

-> nested if else

In [114]:
# simple if
# Syntax: if(condition):
          # Statements

In [115]:
x=int(input()) # x=10
if(x>1):       # 10>1=True
    print('x is greater than 1')

10
x is greater than 1

In [116]:
# if else
# Syntax: if(condition):
            #statements
#         else:
#           #statements

In [117]:
# check for the greater number
n1=int(input())   # n1=22
n2=int(input())   # n2=34
if(n1>n2):        # 22>34=false
    print('n1 is greater')
else:    
    print('n2 is greater')

18
12
n1 is greater

In [118]:
# multiple ifs
# Syntax:if(condition1):
            #statements
       # if(condition2):
            #statements
      #  if(condition3):
            # statements
#         else:
#           #statements

In [119]:
n1=int(input())   # n1=22
n2=int(input())   # n2=34
if(n1>n2):        # 22>34=false
    print('n1 is greater')
if(n1<n2):
    print('n2 is greater')
if(n1==n2):
    print('n1 and n2 are equal')
else:    
    print('invalid input')

22
34
n2 is greater
invalid input

In [120]:
# if elif else-> elif:else+if
# Syntax:if(condition1):
            #statements
       # elif(condition2):
            #statements
      #  elif(condition3):
            # statements
#         else:
#           #statements

In [121]:
n1=int(input())   # n1=22
n2=int(input())   # n2=34
if(n1>n2):        # 22>34=false
    print('n1 is greater')
elif(n1<n2):
    print('n2 is greater')
elif(n1==n2):
    print('n1 and n2 are equal')
else:    
    print('invalid input')

22
34
n2 is greater

In [122]:
# nested if else-> a condition within a another condition
# Syntax: if(condition1):
             # if(condition2):
                   # task1
             # elif(condition3):
                   # task2
             # else:
                   # task3
#          else:
               # task4

In [123]:
# check whether a number is zero, positive, negative
num=int(input('Enter a number'))  # num=4
if(num>=0):                       # 4>=0-> True
    if(num==0):                   # 4==0-> False
        print('the number is zero')
    else:
        print('the number is positive')
else:
    print('the number is negative')

Enter a number4
the number is positive

## Looping Statements

-> statements that will allow to perform the same set of task multiple number of times based on a condition

-> for loop-> to work with range type data

-> while loop-> to work with conditional data

In [ ]:
# for loop
# SYntax: for iterating_variable in range:
             # task/statements
# iterating_variable-> travelling variable which will look into the defined range and 
# fetches every value in the range    
# range()-> inbuilt function which will create a range of defined values
   # SYntax: range(start,end+1)

In [ ]:
range(0,11)  # 0,1,2,3,4,5,6,7,8,9,10

In [ ]:
# print 'python' 5 times
for i in range(0,5):   # 0 1 2 3 4
    print('python',i)

In [ ]:
range(5)

In [ ]:
# fecth the even numbers
l1=[10,25,30,45,50]
for i in range(len(l1)):
    if(l1[i]%2==0):
        print('the number is even')
    else:
        print('the number is odd')

In [ ]:
l1=[10,25,30,45,50]
for i in l1:
    if(i%2==0):
        print('the number is even')
    else:
        print('the number is odd')

In [ ]:
# while loop
# SYntax:
# iterate_variable=initialze
# while(condition is true):
    # task/statements
# incrementation

In [ ]:
# print 'python' 5 times
i=0
while(i<5):  # 5<5-> False
    print('python',i) 
    i=i+1    # 4+1=5=i

In [ ]:
# to add 7 to every element in the list
l=[10,20,30,40,50,60]
#   0  1  2  3  4  5
len(l)

In [ ]:
l=[10,20,30,40,50,60]
for i in range(0,6):  # 0 1 2 3 4 5 
    l[i]=l[i]+7
print(l)

In [ ]:
l=[10,20,30,40,50,60]
i=0
while(i<len(l)):
    l[i]=l[i]+7
    i=i+1
print(l)

## Functions

In [ ]:
# block of code designed to perform a specific task
# Inbuilt functions 
# User-defined functions
# Lambda function

In [ ]:
# User-defined functions-> to create or define own set of task
# Syntax:
# to define a function
#  def function_name(arguments/parameters):
      # task/statements

# to call/invoke function
# function_name(values for arguments)

In [ ]:
# check whether the number is even or odd
#function definition
def even_odd(num):   # num=34
    if(num%2==0):    # 34%2==0 -> true
        print('the number is even')
    else:
        print('the number is odd')

In [ ]:
# function call
even_odd(102384)

In [ ]:
def check_string(s1):
    if 's' or 'S' in s1:
        print('the string contains s')
    else:
        print('the string doesnt contain s')

In [ ]:
check_string('Shreya')

In [ ]:
# Lambda functions-> anonymous/ nameless function
# function definition is stored in a variable
# function call will be made using variable name
# only one line of expression is allowed
# keyword lambda
# Syntax: var_name=lambda arg_variables:task

In [ ]:
adder= lambda a,b,c:a+b+c
adder(1,2,3)

In [ ]:
square= lambda x:x*x   # x**2
square(10)

In [ ]:
greater= lambda s,t: s if(s>t) else t
greater(6,10)

In [126]:
#list comprehension
l1=[x for x in range(1,11) if x%2==0]

In [127]:
l1

[2, 4, 6, 8, 10]

In [128]:
#OR
l=[]
for x in range(1,11):
    if x%2==0:
        l.append(x)
print(l)

[2, 4, 6, 8, 10]

In [130]:
#dictionary comprehension

d1={x:x**3 for x in range(1,11)}
d1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}